.wrapperFooter {
    border: 4px solid #478BF9;
    border-radius: 64px 64px 0px 0px;
    padding: 40px 140px 24px 140px;

    .textMedia {
        font: 400 16px Lexend;
        color: #ffffff;
        text-align: end;
        margin-bottom: 10px;
    }


    .socialNetwork {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menuFooter {
            display: flex;
            gap: 40px;

            .elMenu {
                font: 400 16px Lexend;
                color: #ffffff;
            }
        }

        .socialMedia {
            display: flex;
            gap: 10px;

            .iconTwitter {
                background-image: url(../../assets/twit.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconFacebook {
                background-image: url(../../assets/f.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconInstagram {
                background-image: url(../../assets/inst.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconLinkedln {
                background-image: url(../../assets/lin.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconYouTube {
                background-image: url(../../assets/yout.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconTicTok {
                background-image: url(../../assets/tict.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconTelegram {
                background-image: url(../../assets/tel.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }

            .iconVK {
                background-image: url(../../assets/vk.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                &:hover {
                    filter: brightness(1.4);
                    transform: scale(1.2);
                  }
            }
        }
    }
}