.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1640px;
    margin: auto;

    .contentLeft {
        width: 670px;

        .textHouse {
            font: 500 96px Lexend;
            color: #FFFFFF;
            line-height: 1;
            margin-bottom: 24px;

            span {
                color: #478BF9;
            }
        }

        .textROI {
            font: 500 32px Lexend;
            color: #FFFFFF99;
            margin-bottom: 48px;
        }

        .btn {
            width: 393px;
            height: 72px;
            text-align: center;
            padding: 20px;
            border-radius: 48px;
            background: #478BF9;
            font: 600 24px Lexend;
            color: #FFFFFF;
        }
    }

    .contentCentre {
        display: flex;
        gap: 16px;

        @keyframes imgOne {
            0% {
                transform: translateY(0);
            }

            100% {
                transform: translateY(-5%);

            }
        }

        .imgVertical1 {
            background-image: url(../../assets/Line_Vertical_1.svg);
            background-size: contain;
            background-repeat: repeat-y;
            width: 103px;
            height: 1330px;
            animation: imgOne 7s linear infinite reverse;
        }

        .imgVertical2 {
            background-image: url(../../assets/Line_Vertical_2.svg);
            background-size: contain;
            background-repeat: repeat-y;
            width: 103px;
            height: 1330px;
            animation: imgOne 7s linear infinite;
        }

        .imgVertical3 {
            background-image: url(../../assets/Line_Vertical_3.svg);
            background-size: contain;
            background-repeat: repeat-y;
            width: 103px;
            height: 1330px;
            animation: imgOne 7s linear infinite reverse;
        }
    }

    .contentRight {
        width: 531px;

        .textBlog {
            font: 600 40px Lexend;
            color: #FFFFFF;
            text-align: center;
            margin-bottom: 24px;
        }

        .commentsBlog {
            width: 531px;
            height: 595px;
            border-radius: 100px;
            border: 3px solid #478BF9;
            background-color:black;
            display: flex;
            align-items: center;
            justify-content: center;

            .emptyWrapper {
                width: 500px;
                height: 585px;
                border-radius: 100px;
                background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                overflow-y: scroll;
                overflow-x: none;

                &::-webkit-scrollbar {
                    width: 7px;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #478bf9;
                    border-radius: 5px;
                }

                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background: #FFFFFF1F;
                    margin-block: 100px;
                }

                .blockComment {
                    border-radius: 196px;
                    background-color: #1E1231;
                    width: 467px;
                    height: 146px;
                    padding: 16px 64px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &:hover {
                        background-color: #478BF9;
                    }

                    .textComment {
                        font: 400 24px Lexend;
                        color: #ffffff;
                        width: 339px;
                    }

                    .textData {
                        font: 450 14px Lexend;
                        color: #FFFFFF99;

                    }
                }
            }

        }
    }
}