@keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }

  to {
    background-position: 0 0;
  }

}

.wrapper {
  background-image: url(./assets/Line_Vertical_2.svg);
  background-size: auto;
  width: auto;
  height: auto;
  background-repeat: repeat-y;
  margin-right: auto;
  margin-left: auto;
  animation: animatedBackground 5s linear infinite;
}