* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(./assets/1920.jpg);
    background-size: cover;
    width: 100%;
    background-repeat:no-repeat;
}
